//**___________________________________________________________**//
//Pantallas Chicas
//**___________________________________________________________**//
@media(max-width: 1100px){
    ion-content{
    --background: rgb(27,24,24);
    .card-back{
        background-color:  rgb(13, 13, 121);
    }
    .text-colo{
        color: white;
    }
    .title{
        font-size: 1.8rem;
        padding-bottom: 0;
        padding-top: 0;
    }
    .ion-card-m {
      margin: 10px;
      border-radius: 10px;
      .c-m-s{
        font-size: 1.3rem;
        //text-align: center;
        //@extend .ion-text-center !important;
        //@extend .ion-text-center;
      }
    }
    .ion-c-m-img{
        object-fit: cover;
        max-height: 150px;
        border-radius: 8px;
        padding-right: 10px;
        width: 100%; 
        height: auto; 
        border-radius: 8px;
    }
    
}
}




//**___________________________________________________________**//
//Pantallas Grandes
//**___________________________________________________________**//
@media(min-width: 1100px){
    ion-content{
        ion-row{
            align-items: center;
            justify-content: center;
        }
    --background:rgb(27, 24, 24);
    .card-back{
        background-color:  rgb(13, 13, 121);
    }
    .text-colo{
        color: white;
    }
    .title{
        font-size: 2rem;
    }
    .ion-card-m {
      margin: 10px;
      border-radius: 10px;
      .c-m-s{
        font-size: 1.3rem;
        //text-align: center;
        //@extend .ion-text-center !important;
        //@extend .ion-text-center;
      }
    }
    .ion-c-m-img{
        object-fit: cover;
        max-height: 400px;
        border-radius: 8px;
        padding-right: 10px;
        width: 100%; 
        height: auto; 
        border-radius: 8px;
    }
    
}
}




