<app-header titulo="Personajes"></app-header>

      <!-- Aqui va el contenido -->
      <ion-content>
      <ion-card *ngFor="let personaje of personajes">
        <img [src]="personaje.data.imagen" style="height: 40hv; width: 60hv;"/>
        <ion-card-header>
          <ion-card-title>Nombre: {{personaje.data.nombre}}</ion-card-title>
          <ion-card-subtitle>Arma principal: {{personaje.data.armabase}}</ion-card-subtitle>
          <ion-card-subtitle>Arma secundaria: {{personaje.data.armasecundaria}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <h3>Descripcion: {{personaje.data.descripcion}}</h3>
        </ion-card-content>
      </ion-card>
    </ion-content>
    <!-- Aqui va el contenido -->
    

