<app-header titulo="Yoli"></app-header>

  <ion-content [fullscreen]="true">
    <!-- Contenido -->
    <div class="space"></div>
  
    <ion-grid class="image-grid">
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <div class="image-wrapper">
          <ion-avatar class="Ax">
            <ion-img src="../../../assets/img/Ax.jpeg"></ion-img>
          </ion-avatar>
          <ion-avatar class="lhc">
            <ion-img src="../../../assets/img/yoliuno.png"></ion-img>
          </ion-avatar>
        </div>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col class="text">
          <ion-text> "Text" Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius suscipit voluptates ea, porro, voluptatibus nesciunt aliquid doloremque ad eos placeat odio excepturi provident praesentium dolore voluptate. Voluptas reprehenderit reiciendis doloribus!</ion-text>
        </ion-col>
      </ion-row>
      <ion-row class="row-g">
        <ion-img class="img" src="../../../assets/img/gerrero.jpeg"></ion-img>
      </ion-row>
      <ion-row class="text">
          <ion-text> "Text" Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius suscipit voluptates ea, porro, voluptatibus nesciunt aliquid doloremque ad eos placeat odio excepturi provident praesentium dolore voluptate. Voluptas reprehenderit reiciendis doloribus!</ion-text>
      </ion-row>
    </ion-grid>




  </ion-content>
  <!-- aqui va el contenido -->


