<app-header titulo="Yoli"></app-header>

<ion-content [fullscreen]="true" class="ion-padding">

    <div class="space">
    </div>

<!-- Grid principal para Cards generales -->
    <ion-grid>
<!-- Row para Yoli img -->
      <ion-row class="row-g">
        <ion-img class="img" src="../../../assets/img/yoliL.png"></ion-img>
      </ion-row>
<!-- Row para Yoli descipcion -->
      <ion-row>
        <ion-card class="card-t">
          <ion-card-header>
            <ion-card-title class="ion-text-center c-b-t">Axolotl Games presenta Yoli </ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-text-justify c-b-c">
            Conoce el divertido videojuego que evoluciona la experiencia de conectar y aprender de la cultura mas grande de todo Mexico!. Adentrate con nosotros y conoce nuestra propuesta.
          </ion-card-content>
        </ion-card>
      </ion-row>
<!-- Row para imagen de Mercancia -->
      <ion-row class="row-g">
        <ion-img class="img" src="../../../assets/img/personajes.jpeg"></ion-img>
      </ion-row>
      <ion-row>
<!-- card para mercancia -->
        <!-- <ion-card class="card-c"> -->
        <ion-card class="card-c">
          <ion-card-header>
            <ion-card-title class="ion-text-center c-b-t">Yoli Los Huesos de la Creación</ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-text-justify c-b-c">
            Narrando la historia de la creacion del mundo! Seguiremos la historia de Quetzalcuatl bajando al mictlan para robar lo huesos de los antiguos humanos y crear la chispa de la vida, pasando por los 9 circulos del mictlan desde el cendero de flores y su entrada al rio hasta el circulo final donde enfrentara a los 2 señores de la muerte Mictlantecuhtli y Mictecacihuatl.
          </ion-card-content>
        </ion-card>
      </ion-row>


<!-- Row para imagen de Guerrero -->
      <ion-row class="row-g">
        <ion-img class="img" src="../../../assets/img/gerrero.jpeg"></ion-img>
      </ion-row>
<!-- Descripcion de guerrero -->
      <ion-row>
        <ion-card class="card-b">
          <ion-card-header>
            <ion-card-title class="ion-text-center c-b-t">Conoce los personajes</ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-text-justify c-b-c">
            Diviertete mientras exploras todos los personajes del juego conoce los enemigos que encontraras en tu camino al mictlan. 
          </ion-card-content>
        </ion-card>
      </ion-row>
    </ion-grid>


<!-- Grid Secundario para cards de accesos -->
    <ion-grid class="g-padding">
    <ion-row>
<!-- multicard para personajes -->
      <ion-col size="6">
        <ion-card class="m-card-b" (click)="openPersonajes()">
          <ion-card-header>
            <img src="../../../assets/img/player.png"/>
            <ion-card-title class="ion-text-center m-c-t">Personajes</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
<!-- multicard para mecanicas -->
      <ion-col size="6">
        <ion-card class="m-card-b" (click)="openMecanicas()">
          <ion-card-header>
            <img src="../../../assets/img/mecanicas.png"/>
            <ion-card-title class="ion-text-center m-c-t">Mecanicas</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
<!-- multicard para items -->
      <ion-col size="6">
        <ion-card class="m-card-b" (click)="openNosotros()">
          <ion-card-header>
            <img src="../../../assets/img/items.png"/>
            <ion-card-title class="ion-text-center m-c-t">Items</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
<!-- multicard para productos -->
        <ion-col size="6">
        <ion-card class="m-card-b" (click)="openProductos()">
          <ion-card-header>
            <img src="../../../assets/img/shops.png"/>
            <ion-card-title class="ion-text-center m-c-t">Productos</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-content>

  <ion-footer collapse="fade" class="">
    <ion-toolbar class="footer">
      <!-- <ion-title class="ion-text-center r-s">Redes sociales</ion-title> -->
      <ion-grid class="center-grid-f">
        <ion-row class="flex">
          <ion-col size="4" class="padding col-f">
            <a onclick="window.open('https://www.facebook.com', '_system', 'location=yes'); return false;">
              <img class="img-insta" src="../../../assets/img/facebook.png" alt="">
            </a>
            <!-- <ion-avatar>
              <ion-img src="../../../assets/img/fb.png"></ion-img>
            </ion-avatar> -->
          </ion-col>
          <ion-col size="4" class="col-f">
            <a onclick="window.open('https://www.instagram.com', '_system', 'location=yes'); return false;">
            <img class="img-insta" src="../../../assets/img/instab.png" alt="">
            </a>
          </ion-col>
          <ion-col size="4" class="col-f">
            <a onclick="window.open('https://www.twitter.com', '_system', 'location=yes'); return false;">
              <img class="img-insta" src="../../../assets/img/x.png" alt="">
            </a>
            <!-- <ion-avatar>
              <ion-img src="../../../assets/img/twitter.png"></ion-img>
            </ion-avatar> -->
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-footer>



