<app-header titulo="Yoli"></app-header>

  <ion-content [fullscreen]="true">
    <!-- Contenido -->
    <div class="space"></div>
  
    <ion-grid class="image-grid">
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <div class="image-wrapper">
          <ion-avatar class="Ax">
            <ion-img src="../../../assets/img/Ax.jpeg"></ion-img>
          </ion-avatar>
          <ion-avatar class="lhc">
            <ion-img src="../../../assets/img/yoliuno.png"></ion-img>
          </ion-avatar>
        </div>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col class="text">
          <ion-text> "Text" Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius suscipit voluptates ea, porro, voluptatibus nesciunt aliquid doloremque ad eos placeat odio excepturi provident praesentium dolore voluptate. Voluptas reprehenderit reiciendis doloribus!</ion-text>
        </ion-col>
      </ion-row>
      <ion-row class="row-g">
        <ion-img class="img" src="../../../assets/img/gerrero.jpeg"></ion-img>
      </ion-row>
      <ion-row class="text">
          <ion-text> "Text" Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius suscipit voluptates ea, porro, voluptatibus nesciunt aliquid doloremque ad eos placeat odio excepturi provident praesentium dolore voluptate. Voluptas reprehenderit reiciendis doloribus!</ion-text>
      </ion-row>
    </ion-grid>


    <ion-grid class="g-padding">
    <ion-row>
      <ion-col size="6">
        <ion-card class="card-ft">
          <ion-card-header class="h-center">
            <img class="card-img-p" src="../../../assets/img/player.png"/>
            <ion-card-title>Personajes</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="card-ft">
          <ion-card-header class="h-center">
            <img class="card-img-m" src="../../../assets/img/mecanics.png"/>
            <ion-card-title>Mecanicas</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="card-ft">
          <ion-card-header class="h-center">
            <img class="card-img-n" src="../../../assets/img/team.png"/>
            <ion-card-title>Nosotros</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
        <ion-col size="6">
        <ion-card class="card-ft">
          <ion-card-header class="h-center">
            <img class="card-img-s" src="../../../assets/img/shop.png"/>
            <ion-card-title>Productos</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>




  </ion-content>

<ion-footer collapse="fade">
  <ion-toolbar class="footer">
    <ion-title class="ion-text-center">Redes sociales</ion-title>
  <ion-row class="row-footer">
    <ion-col size="4">
      <ion-img class="img-footer" src="../../../assets/img/fb.png"></ion-img>
    </ion-col>
    <ion-col size="4">
      <ion-img class="img-footer" src="../../../assets/img/insta.png"></ion-img>
    </ion-col>
    <ion-col size="4">
      <ion-img class="img-footer" src="../../../assets/img/twitter.png"></ion-img>
    </ion-col>
  </ion-row>
  </ion-toolbar>
</ion-footer>


