<app-header titulo="Controles"></app-header>

<ion-content fullscreen="true" class="ion-padding">
  <!-- Contenido -->
  <div class="space"></div>
  
  <ion-grid class="image-grid">
  <ion-row class="ion-justify-content-center ion-align-items-center">
    <div class="image-wrapper">
      <ion-avatar class="Ax">
        <ion-img src="../../../assets/img/Ax.jpeg"></ion-img>
      </ion-avatar>
      <ion-avatar class="lhc">
        <ion-img src="../../../assets/img/yoliuno.png"></ion-img>
      </ion-avatar>
    </div>
  </ion-row>
</ion-grid>








  <!-- Contenido -->
</ion-content>
