<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- MENU -->
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <!-- MENU -->
    <ion-title>Controles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Controles</ion-title>
    </ion-toolbar>
  </ion-header>
    <!-- Aqui va el contenido -->
  <h1>Contents</h1>
</ion-content>
